@using Armazda.Models.ViewModels;
@model CreateData
@{
    ViewBag.Title = "Home Page";
    var notif = (string)ViewBag.Notif;
}

<form asp-action="Create" enctype="multipart/form-data">
    <table>
        <tr>
            <td>
                <label asp-for="Name">Name:</label>
            </td>
            <td>
                <input asp-for=Name />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Image">Image:</label>
            </td>
            <td>
                <input asp-for=Image />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="VideoLink">Link:</label>
            </td>
            <td>
                <input asp-for=VideoLink />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" />
            </td>
        </tr>
    </table>

    @if(notif != null && notif != "")
    {
        <p>@notif</p>
    }

</form>